#root {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

::selection {
  background-color: hotpink;
}

body {
  background-color: white;
  margin: 0 auto;
  width: 100vw;
  max-height: 100vh;
}

.index {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.index ul {
  list-style-type: none;
}

.index ul li {
  font-size: 1.5em;
}

.index ul li::before {
  content: "✔️ ";
}

.nav-class,
.nav-pro {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-pro {
  background: rgb(2, 0, 36);
  background: linear-gradient(135deg,
      rgba(2, 0, 36, 1) 1%,
      rgba(155, 123, 238, 1) 22%,
      rgba(0, 212, 255, 1) 72%);
}

.app {
  margin: 0 2em;
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
}

.app img {
  max-width: 100px;
}

.editor {
  width: 50%;
  overflow-y: scroll;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.cardMock {
  margin: 0 10px;
  width: 150px;
  height: 90px;
  background: grey;
  border-radius: 8px;
}

.card {
  width: 400px;
  height: 250px;
  font-family: "Michroma", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px !important;
}

.card svg {
  max-width: 100px;
  max-height: 100px;
}

.backCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: -20px;
}

.preview {
  width: 50%;
  border-left: dotted 3px grey;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2em;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1000px) {
  .app {
    flex-direction: column;
    margin: 0 10px;
  }

  .editor {
    width: 100%;
    overflow-y: visible;
  }

  .preview {
    width: 100% !important;
  }
}

@media (max-width: 400px) {
  .preview {
    transform: scale(0.8);
  }
}

.wifi {
  position: relative;
  top: -20px;
  right: -30px;
}

.verso .minilogo {
  position: relative;
  top: -60px;
}

.recto .minilogo {
  position: relative;
  top: -30px;
}

.cls-1 {
  fill: url(#linear-gradient);
}

.cls-2 {
  fill: url(#linear-gradient-2);
}

.cls-3 {
  fill: url(#linear-gradient-3);
}

.cls-4 {
  fill: url(#linear-gradient-4);
}

.cls-5 {
  fill: url(#linear-gradient-5);
}

.cls-6 {
  fill: url(#linear-gradient-6);
}

.cls-7 {
  fill: url(#linear-gradient-7);
}

.cls-8 {
  fill: url(#linear-gradient-8);
}

.cls-9 {
  fill: url(#linear-gradient-9);
}

.cls-10 {
  fill: url(#linear-gradient-10);
}

.cls-11 {
  fill: url(#linear-gradient-11);
}

.cls-12 {
  fill: url(#linear-gradient-12);
}

.cls-13 {
  fill: url(#linear-gradient-13);
}

.cls-14 {
  fill: url(#linear-gradient-14);
}

.cls-15 {
  fill: url(#linear-gradient-15);
}

.cls-16 {
  fill: url(#linear-gradient-16);
}

.cls-17 {
  fill: url(#linear-gradient-17);
}

.cls-18 {
  clip-path: url(#clip-path-9);
}

.cls-19 {
  fill: url(#linear-gradient-9);
}

.cls-20 {
  clip-path: url(#clip-path-10);
}

.cls-21 {
  fill: url(#linear-gradient-10);
}

.cls-22 {
  clip-path: url(#clip-path-11);
}

.cls-23 {
  fill: url(#linear-gradient-11);
}

.cls-18 {
  clip-path: url(#clip-path-9);
}

.cls-19 {
  fill: url(#linear-gradient-9);
}

.cls-20 {
  clip-path: url(#clip-path-10);
}

.cls-21 {
  fill: url(#linear-gradient-10);
}

.cls-22 {
  clip-path: url(#clip-path-11);
}

.cls-23 {
  fill: url(#linear-gradient-11);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cls-2-p {
  clip-path: url(#clip-path);
}

.cls-3-p {
  clip-path: url(#clip-path-2);
}

.cls-4-p {
  clip-path: url(#clip-path-3);
}

.cls-5-p {
  clip-path: url(#clip-path-4);
}

.cls-6-p {
  clip-path: url(#clip-path-5);
}

.cls-7-p {
  clip-path: url(#clip-path-6);
}

.cls-8-p {
  clip-path: url(#clip-path-7);
}

.cls-9-p {
  clip-path: url(#clip-path-8);
}

.cls-10-p {
  clip-path: url(#clip-path-9);
}

.cls-11-p {
  clip-path: url(#clip-path-10);
}

.cls-12-p {
  clip-path: url(#clip-path-11);
}